# ==============================================================================
# Environment Variables.
# - For defaults and in-depth docs, check `env.private.ts` and `env.public.ts`
# ==============================================================================

# NODE_ENV=development
# PORT=3000

DATABASE_AUTH_TOKEN=
DATABASE_URL="file:/<absolute_url>/local.db"

DODO_PAYMENTS_API_KEY="xxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
DODO_PAYMENTS_ENV="test_mode" # test_mode or live_mode
DODO_PAYMENTS_WEBHOOK_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

PUBLIC_BASE_URL="http://localhost:3000"

S3_ACCESS_KEY_ID="rustfsadmin"
S3_BUCKET_NAME="solid-launch" # Create this bucket using localhost:9001 during development (use the key_id and access_key for the creds)
S3_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_SECRET_ACCESS_KEY="rustfsadmin"

ZEPTOMAIL_FROM="Example Team <noreply@yourdomain.com>"
ZEPTOMAIL_TOKEN=""
